@inject ILogger<App> Logger
@inject MediaController MediaController

<h2>Video</h2>
<section>
    <video id="Video" width="640" height="360" preload="metadata">
        <source src="/video.mp4" type="video/mp4" />
    </video>
    <div>
        <button @onclick=@(()=>Print(MediaController?.Get("Video")))>GetVideo</button>
        <button @onclick=@(()=>MediaController?.Play("Video"))>PLAY</button>
        <button @onclick=@(()=>MediaController?.Pause("Video"))>PAUSE</button>
        <button @onclick=@(()=>MediaController?.SetLoop("Video",video_loop=!video_loop))>LOOP</button>
        <button @onclick=@(()=>MediaController?.SetMuted("Video",video_muted=!video_muted))>MUTED</button>
        <button @onclick=@(()=>MediaController?.SetFullscreen("Video",true))>FULLSCREEN</button>
    </div>
</section>
<h2>Audio</h2>
<section>
    <audio id="Audio" width="960">
        <source src="/audio.mp3" />
    </audio>
    <div>
        <button @onclick=@(()=>Print(MediaController?.Get("Audio")))>GetVideo</button>
        <button @onclick=@(()=>MediaController?.Play("Audio"))>PLAY</button>
        <button @onclick=@(()=>MediaController?.Pause("Audio"))>PAUSE</button>
        <button @onclick=@(()=>MediaController?.SetLoop("Audio",audio_loop=!audio_loop))>LOOP</button>
        <button @onclick=@(()=>MediaController?.SetMuted("Audio",audio_muted=!audio_muted))>MUTED</button>
    </div>
</section>

@code {
    bool video_loop = false;
    bool video_muted = false;

    bool audio_loop = false;
    bool audio_muted = false;

    async void Print(ValueTask<MediaObject>? o)
    {
        try
        {
            if (o is not null)
            {
                var v = await o.Value;
                Logger.LogInformation(System.Text.Json.JsonSerializer.Serialize(v));
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "ERROR");
        }
    }
}